h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 2.5em;
}

h3 {
    margin-bottom: 0px;
}

h5 {
    margin-top: 3px;
    margin-bottom: 8px;
    font-size: 15px;
}

#honkbox {
    display: flex;
    flex-direction: row;
}

#leftpillar {
    margin-right: 20px;
}

#rightpillar {
    margin-left: 20px;
}

.pillar {
    width: 21px;
    flex: none;
    height: inherit;
    margin-top: 12px;

    border-top: 1px solid var(--hard-grey);
}

.pillarcore {
    width: 13px;
    height: 100%;
    margin: auto;
    border-right: 1px solid var(--hard-grey);
    border-left: 1px solid var(--hard-grey);
}

.pillarline {
    width: 6px;
    height: calc(100% + 5px);
    border-right: 1px solid var(--hard-grey);
}

/* Reverse the hover/underline relationship for experience page links to make them more obvious */

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}