<div id="honkbox">
    <div id="leftpillar" class="pillar">
        <div class="pillarcore">
            <div class="pillarline"></div>
        </div>
    </div>
    
    <div>
        <h1>Experience</h1>

        <h3>Teaching Assistant at General Assembly in Washington, DC</h3>
        <h5>May 2021 to present</h5>
        <li>Help students understand and implement data science concepts and techniques including Python, data analysis and
            visualization, supervised learning models, regularization, unsupervised learning, natural language processing, time
            series, neural networks, SQL, web scraping and APIs, statistical methods, version control systems, and data ethics.
        </li>

        <h3>General Assembly Small Business Hackathon</h3>
        <h5>March 2021</h5>
        <li>Participated as a team data scientist in the creation of Do It Right (DIR), a Chrome extension to redirect carry-out
            orders from delivery service websites to restaurant websites, avoiding awarding unearned referral fees. 
        </li>

        <h3>General Assembly Sustainable Cities Hackathon</h3>
        <h5>February 2021</h5>
        <li>Led the data collection, cleaning, visualization, and analysis for <a href="https://github.com/The-SunshineCollective">a project</a> to estimate potential savings from solar panels placed on the roof of a building at a given address.</li>

        <h3>Data Science Immersive Student at General Assembly in Washington, DC</h3>
        <h5> December 2019 to March 2020</h5>
        <li> Completed twelve-week intensive course covering topics in data analysis, data visualization, predictive modeling,
            machine learning, data mining, and other related areas. 
        </li>
        <li> Collaborated on <a href="https://github.com/peckben1/Flood_Depths">a group project</a> for a client estimating flood depths
            from ground-based images using convolutional neural networks, image segmentation, and preprocessing techniques. </li>
        <li> Completed <a href="https://github.com/peckben1/Flood_Depths">an independent capstone project</a> using predictive
            modeling and different clustering approaches to analyze geographic trends in county-level US federal data.</li>

        <h3>Historical Research Assistant in Washington, DC</h3>
        <h5>July 2018 to present</h5>
        <li> Write Python scripts to web scrape digitized material, interact with APIs, and organize retrieved data and metadata</li>
        <li> Review collections and digitize relevant documents for clients conducting historical research for publication.</li>
        <li>Capture text, still images, and cartographic/architectural materials from paper, microfilm, and digital formats. </li>

        <h3>Historical Geography Technician at GeoSearch Environmental Information in Washington, DC</h3>
        <h5>March 2017 to May 2018</h5>
        <li> Automated repetitive tasks with Python scripts for improvements to processes.</li>
        <li> Worked independently and collaboratively to locate and digitize relevant documents from collections at the Library
            of Congress to determine the usage history of properties. </li>
        <li> Redesigned the schema for a proprietary database. </li>

        <h3>Independent Researcher in Lansing, MI</h3>
        <h5>December 2015 to March 2017</h5>
        <li> Conducted library and internet-based genealogical research and presented findings to clients</li>
        <li> Hired as an independent contractor to organize, select, and scan materials from the archive of a Fortune 500
            company</li>

        <h3>B.A. in History at Michigan State University in East Lansing, MI</h3>
        <h5>August 2012 to May 2016</h5>
        <li>Traditional research-oriented history education with additional studies in digital humanities and data analytics
        </li>
        <li>Recipient of the Alumni Distinguished Scholarship</li>
    </div>

    <div id="rightpillar" class="pillar">
        <div class="pillarcore">
            <div class="pillarline"></div>
        </div>
    </div>
</div>