<h1>Experience</h1>
<h3>Data Science Student at General Assembly in Washington, DC</h3>
<h5> December 2019 to March 2020</h5>
<li> Data Science Immersive – twelve week intensive course covering topics from basic Pandas through Neural Networks
</li>
<li> Completed a client project attempting to estimate flood depths from ground-based images using convolutional neural
    networks, image segmentation, and preprocessing techniques</li>
<li> Completed a final project using predictive modeling and different clustering approaches to analyze geographic
    trends in county-level US federal data.
    <h3>Independent Researcher in Washington, DC</h3>
    <h5>July 2018 to present</h5>
<li> Review collections and digitize relevant documents for clients conducting historical research</li>
<li> Research at locations including Library of Congress and National Archives (sites I and II) utilizing text, still
</li>
images, and cartographic/architectural materials in paper, microfilm, and digital formats
<h3>Historical Geography Technician at GeoSearch Environmental Information in Washington, DC</h3>
<h5>March 2017 to May 2018</h5>
<li> Utilized collections at the Library of Congress to determine the usage history of properties</li>
<li> Located and digitized relevant documents and entered data and metadata into a proprietary database</li>
<li> Worked both independently and collaboratively in a small, remote research group</li>
<li> Automated repetitive tasks with Python scripts and explored potential improvements to our work process and product
    <h3>Independent Researcher in Lansing, MI</h3>
    <h5>December 2015 to March 2017</h5>
<li> Conducted library and internet-based genealogical research and presented findings to clients</li>
<li> Hired as an independent contractor to organize, select, and scan materials from the archive of a Fortune 500
    company</li>
<h3>B.A. in History at Michigan State University in East Lansing, MI</h3>
<h5>August 2012 to May 2016</h5>
<li>Traditional research-oriented history education with additional studies in digital humanities and data analytics
</li>
<li>Recipient of the Alumni Distinguished Scholarship</li>