.cardstyle {
    border: solid #999 1px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 300px;
    margin: 15px 15px 15px 15px;
}

@media (min-width: 1050px) {
    .cardstyle {
        flex-direction: row;
    }

    img {
        margin-right: 50px;
    }
}
