.cardstyle {
    border-top: solid var(--hard-grey) 1px;
    border-bottom: solid var(--hard-grey) 1px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 300px;
    max-width: 100%;
    margin: 15px 15px 15px 15px;
    flex-shrink: 0;
}

@media (min-width: 1050px) {
    .cardstyle {
        flex-direction: row;
    }

    img {
        margin-right: 50px;
    }
}
