<h1>Projects</h1>
<app-projectcard 
    [myimg]="'../../assets/FruitiestPebbles.png'"
    [title]="'County Regionalization Using Federal Data'" 
    [description]="'Regionalization of the United States is omnipresent and informs thinking and decision-making. Are regions as we know them purely cultural, or do they have any basis in statistics? Using economic and demographic data from federal agencies, I set out to answer this question using clustering and predictive modeling to look for regional trends.'"
    [linktarget]="'https://github.com/peckben1/Capstone'"
></app-projectcard>
<app-projectcard
    [myimg]="'../../assets/floodguy.jpg'"
    [title]="'Estimating Flood Depths from Ground Based Imagery'"
    [description]="'In this project for New Light Technologies based on a prompt from FEMA, my colleague Ana Petronijevic and I used a convolutional neural network and image preprocessing to test the possibility of gathering flood depth information from crowdsourced images.'"
    [linktarget]="'https://github.com/peckben1/Flood_Depths'"
></app-projectcard>
<app-projectcard 
    [myimg]="'../../assets/ExMoTapir.png'"
    [title]="'Predicting Reddit Post Origins With Similar Topics'"
    [description]="'The objective of this project is to accurately predict which of two subreddits a post originated in based on the post\'s textual content, even when the two subreddits are on similar topics. In order to achieve this, I built and tested multiple classification models on posts from the r/latterdaysaints and r/exmormon subreddits. Being able to reliably distinguish between two groups interacting with the same topic from different perspectives is of clear consequence to advertisers, campaigners, and others seeking to identify target populations holding or receptive to certain views.'"
    [linktarget]="'https://github.com/peckben1/RedditClassification'"
></app-projectcard>