<nav id="navbar">
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <!-- <li><a routerLink="/about">About</a></li> -->
      <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
      <li><a routerLink="/experience" routerLinkActive="active">Experience</a></li>
    </ul>
  </nav>

<router-outlet></router-outlet>

<footer>
    <ul>
      <li><a href="mailto:benrpeck16@gmail.com">email</a></li>
      <li><a href="https://github.com/peckben1">github.com/peckben1</a></li>
      <li><a href="https://www.linkedin.com/in/benjamin-peck-247ab5122">LinkedIn</a></li>
      <li><a href="https://peckben1.medium.com/">Medium</a></li>
      <li><a href="assets/BenPeckResumeData.pdf" download>Download my Resume</a></li>
    </ul>
  </footer>