/* #headerphoto {
    display: flex;
}

#benphoto {
    position: relative;
    top : -40px;
} */

/* below here: sticky navbar and footer */

footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: -15px;
    padding-bottom: 20px;
    background-color: var(--background);
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: -8px;
    background-color: var(--background);
    padding-top: 15px;
}

nav ul {
    margin-top: 0px;
}

footer ul {
    margin-bottom: 0px;
}
