* {
    font-family: 'Sorts Mill Goudy', serif;
    --hard-grey: #999;
    --soft-grey: #d5d5d5;
    --near-black: #333;
    --background: white;
    color: var(--near-black);
}


ul a {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    background-color: var(--background);
}
footer ul {
    flex-wrap: wrap;
    --footergap: 15px;
    width: calc(100% + calc(var(--footergap)*2));
    margin-left: calc(-1*var(--footergap));
}
footer ul li {
    margin: 0px var(--footergap);
}
nav ul li/*, footer ul li*/ {
    display: inline;
    margin-right: 20px;
    min-width: fit-content;
}
nav ul :last-child/*, footer ul :last-child*/ {
    margin-right: 0px;
}
a {
    text-decoration: none;
    color: var(--hard-grey);
}
a:hover {
    text-decoration: underline;
}
h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 2.5em;
}

h3 {
    margin-bottom: 0px;
}

h5 {
    margin-top: 3px;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
}

nav ul {
    margin-bottom: 5px;
}

nav {
    border-bottom: solid var(--hard-grey) 1px;
    padding-bottom: 0px;
}

footer {
    border-top: 1px solid var(--soft-grey);
    font-size: .8em;
    margin-top: 30px;
    width: 100%;
    min-height: auto;
}

body {
    margin: 0px 15vw;
    width: 70vw;
    max-width: 1200px;
    min-height: 100vh;
    /* background-color: #41403c;
    color: #5f5239; */
}

@media (min-width: 600px) {
    nav ul {
        justify-content: flex-start;
    }

    nav ul li {
        margin-right: 50px;
    }
}

@media (min-width: 1715px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 420px) {
    body {
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
}