h1 {
    font-size: 2.5em;
    margin-bottom: 0px;
}

h2 {
    margin: 0px 0px 5px 0px;
}

#headerphoto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    flex-direction: row;
}

#headerContainer {
    display: flex;
    flex-direction: column;
}

#benphoto {
    max-width: 100%;
}

@media only screen and (min-width: 1048px) {
    #benphoto {
        flex: none;
        /* margin: 25px 0px 30px 20px; */
        /* float: right; */
        max-width: 300px;
    }
  }