<div class="blurb">
    <div id="headerphoto">
        <h1 id="greeting">Hi, I'm Ben Peck! Welcome to my page.</h1>
        <img src="assets/Benface.jpg" alt="It's me!" id="benphoto">
    </div>
    <p>A data scientist with experience in historical and genealogical research,
        I am passionate about applying new methods to old questions.
        My linear, objective-oriented thought process and close attention to detail
        enable me to process and interpret large and complex bodies of information.
        A driven and independent worker, I collaborate readily and excel at oral
        and written communication.
        <!-- <a href="/about">Read more about me and my work...</a> -->
    </p>
</div>