<div id="outerContainer">
    <div id="textContainer">
        <div id=headerContainer>
            <h1>Ben Peck</h1>
            <h2>Data Scientist and Historical Researcher</h2>
            <h2>Washington, DC</h2>
        </div>
        <div id="textDivider">
            <div id="innerDivider">
                <div id="dividerLine"></div>
            </div>
        </div>
        <p>A data scientist with experience in historical and genealogical research,
            I am passionate about applying new methods to old questions.
            My linear, objective-oriented thought process and close attention to detail
            enable me to process and interpret large and complex bodies of information.
            A driven and independent worker, I collaborate readily and excel at oral
            and written communication.
            <!-- <a href="/about">Read more about me and my work...</a> -->
        </p>
    </div>
    <div id="photoContainer">
        <img src="assets/BenFace2e.jpg" alt="It's me!" id="benphoto">
        <div class="pillar">
            <div class="pillarcore">
                <div class="pillarline"></div>
            </div>
        </div>
    </div>
</div>
