h1 {
    font-size: 2.5em;
    margin-bottom: 0px;
}

h2 {
    margin: 0px 0px 5px 0px;
}

#outerContainer {
    display: flex;
    flex-direction: row;
    min-height: 80vh;
    justify-content: space-between;
}

#photoContainer {
    display: flex;
    flex: none;
    flex-direction: column;
    justify-content: flex-start;
    width: 25vw;
    min-width: fit-content;
}

#textContainer {
    display: flex;
    max-width: 40vw;
    flex-direction: column;
    justify-content: space-evenly;
}

#headerContainer {
    display: flex;
    flex-direction: column;
}

#textDivider {
    width: 100%;
    height: 5vh;
}

#innerDivider {
    border-top: 1px var(--hard-grey) solid;
    border-bottom: 1px var(--hard-grey) solid;
    width: 70%;
    height: 3vh;
    margin: 1vh auto;
}

#dividerLine {
    border-bottom: 1px var(--hard-grey) solid;
    height: 1.5vh;
    width: 120%;
    margin-left: -10%;
}

#benphoto {
    width: 20vw;
    min-width: 200px;
    max-width: 300px;
    flex: none;
    margin: 20px auto;
    margin-top: 3vw;
}

.pillar {
    width: 161px;
    flex: 1;
    margin: 12px auto 12vh;
    border-top: 1px solid var(--hard-grey);
}

.pillarcore {
    width: 37px;
    height: 100%;
    margin: auto;
    border-right: 1px solid var(--hard-grey);
    border-left: 1px solid var(--hard-grey);
}

.pillarline {
    width: 18px;
    height: calc(100% + 5px);
    border-right: 1px solid var(--hard-grey);
}

@media only screen and (max-width: 950px) {
    #outerContainer {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
    }

    #textContainer {
        max-width: 90vw;
    }

    #headerContainer {
        align-items: center;
    }

    h2 {
        text-align: center;
    }

    .pillar {
        margin-bottom: 12px;
    }

    #benphoto {
        margin-top: 25px;
    }
  }